<h1>Welcome#index</h1>
<H1>This is where the development blag will go</H1>
<%= link_to 'Dev Blog', controller: 'articles' %>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'New article', new_article_path %>
